.form__label {
    font-size: 18px;
    color: hsl(0, 76%, 59%);
    display: inline-block;
    max-width: 300px;
    width: 100%;
    font-size: 18px;
    color: midnightblue;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 15px;
}