


.check__value {
  margin-top: 20px;
}

.form__button {
  width: 100%;
  border: none;
  padding: 15px;
  background-color: rgb(70, 130, 180);
  color: hsl(0, 0%, 96%);
  margin-top: 15px;
  font-family: "Lato", sans-serif;
}

.form__button:hover {
  background-color: rgb(69, 132, 248);
}

legend {
  background-color: rgb(70, 130, 180);
  border-radius: 3px;
  padding: 5px;
  border: 1px solid rgb(70, 130, 180);
  font-size: 18px;
  color: hsl(0, 0%, 96%);
  font-family: "Lato", sans-serif;
}

select {
  padding: 10px;
  background-color: rgb(70, 130, 180);
  border-color: rgb(30, 91, 224);
  max-width: 350px;
  border-radius: 4px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: hsl(0, 0%, 96%);
  font-family: "Lato", sans-serif;
}
